[Unit]
Description=RRDCached
After=network.target

[Service]
Restart=always
User=root
ExecStartPre=/usr/bin/install -d -m 0775 {{ observium_rrdcached_journal }} 
ExecStart=/usr/bin/rrdcached -s {{ apache_group }} \
    -l {{ observium_rrdcached_socket }} \
    -p {{ observium_rrdcached_pidfile }} \
    -j {{ observium_rrdcached_journal }} \
    -b {{ observium_path }}/rrd/ -B \
    -g -w {{ observium_rrdcached_wtimeout }} -z {{ observium_rrdcached_delay }} -f {{ observium_rrdcached_ftimeout }}

[Install]
WantedBy=multi-user.target
